<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% if user_signed_in? %>
  <div>Click <%= link_to 'here', destroy_user_session_path, method: :delete %> to sign out</div>

<% else %>
<div>Click <%= link_to 'here', new_user_registration_path %> to sign up</div>
<div>Click <%= link_to 'here', new_user_session_path %> to sign in</div>
<% end %>
